ion-card.planner ion-card-header {
  color: #4e8ef7;
}

.tip{
  color: grey;
}

.date-time {
  border-right: 2px solid orange;
  font-size: small;
  max-width: 60px; 
  padding: 0;
  color: #645B5B;
}

.workshop-row{

    padding: 0;

}

.workshop-detail{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1;
}
