page-workshops {
    .date-time {
      border-right: 1px solid grey;
      font-size: small;
      max-width: 50px; 
      padding: 0;
      color: grey;
    }
  
    .workshop-row{
  
        padding: 0;
  
    }
  
    .workshop-detail{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 3;
    }
  }
  